.filter-input {
    font-size: 0.75rem;
    min-height: 1.5rem;
    height: 1.5rem;
    padding: 0 0.4rem;
    font-weight: 400;
}

.badge {
    display: inline-block;
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
}
.badge-success { background-color: #2e844a; }
.badge-running { background-color: #0176d3; }
.badge-partial { background-color: #dd7a01; }
.badge-failed  { background-color: #ba0517; }
