.umv-table {
  max-height: 30rem;
  overflow-y: auto;
}

.umv-truncation {
  font-style: italic;
}

.umv-filters {
  max-width: 44rem;
}

.umv-search-row {
  display: flex;
  justify-content: flex-end;
}

.umv-search {
  width: 18rem;
}
