.umv-table {
  overflow: hidden;
}

.umv-truncation {
  font-style: italic;
}

.umv-filters {
  max-width: 64rem;
}

@media (min-width: 48em) {
  .umv-filters-side {
    margin-top: 1.5rem;
  }
}

.umv-search-row {
  display: flex;
  justify-content: flex-end;
}

.umv-search {
  width: 18rem;
}
